<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>795183212817-i8d0o9mj8327pp2umrvorg9am9l1r127.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.795183212817-i8d0o9mj8327pp2umrvorg9am9l1r127</string>
		<key>API_KEY</key>
		<string>AIzaSyCo-sbK2tjMMzi3JLJW7YYwMxm97dh_owM</string>
		<key>GCM_SENDER_ID</key>
		<string>795183212817</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.kristhyan.ps.davos.tech</string>
		<key>PROJECT_ID</key>
		<string>ps-davos-tech</string>
		<key>STORAGE_BUCKET</key>
		<string>ps-davos-tech.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:795183212817:ios:b09e32c663c39ad9d604b0</string>
	</dict>
</plist>